[Unit]
Description=Python Flask RaspiBackup WebInterface Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/media/Data/Backups/raspiBackupWebInterface
ExecStart=pipenv run python /media/Data/Backups/raspiBackupWebInterface/app.py
Restart=always

[Install]
WantedBy=multi-user.target
