{% extends "base.html" %}

{% block title %}Backup Dashboard{% endblock %}

{% block content %}
    {% if selected_device %}
        <h1>Device: {{ selected_device }}</h1>
        <br>
        {% if backups and backups|length > 0 %}
            <table class="sortable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Backup Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Duration</th>
                    <th>Size</th>
                    <th>Restorable</th>
                    <th class="log-col">Log</th>
                </tr>
                </thead>
                <tbody>
                {% for backup in backups %}
                    <tr>
                        <td>{{ backup.id }}</td>
                        <td>{{ backup.name }}</td>
                        <td>{{ backup.start_date | timestampformat }}</td>
                        <td>{{ backup.end_date | timestampformat }}</td>
                        <td>{{ backup.duration }}</td>
                        <td>{{ backup.size | filesizeformat }}</td>  <!-- Format bytes to human-readable size -->
                        <td>{{ "Yes" if backup.valid else "No" }}</td>
                        <td class="log-col">
                            {% if backup.valid %}
                                <a href="{{ url_for('view_log', device=selected_device, backup_name=backup.name) }}">View Log</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No backups found for this device.</p>
        {% endif %}
    {% else %}
        <h1>Welcome to the Backup Dashboard</h1>
        <br>
        <p>Select a device from the sidebar to view backup information.</p>
    {% endif %}
{% endblock %}
