{% extends "base.html" %}

{% block title %}Log for {{ backup.name }} on {{ selected_device }}{% endblock %}

{% block content %}
    <div id="content">
        <div class="container-primary">
            <h3>Log for Backup: {{ backup.name }}</h3>
            <a href="" class="flex-item-right">BACK</a>
        </div>
        <br>
        <div class="container-primary transparent-background">
            <p><strong>Device:</strong> {{ selected_device }}</p>
            <p><strong>Start:</strong> {{ backup.start_date }}</p>
            <p><strong>End:</strong> {{ backup.end_date }}</p>
            <p><strong>Duration:</strong> {{ backup.duration }}</p>
            <p><strong>Size:</strong> {{ backup.size }}</p>
        </div>
        <br>
        <br>
        <h2>Log File Content</h2>
        <br>
        <pre>{{ log_content }}</pre>
        <p><a href="{{ url_for('index') }}">Back to Backup List</a></p>
    </div>
{% endblock %}
