{% extends "base.html" %}

{% block title %}Backup Files for {{ selected_device }}{% endblock %}

{% block content %}
    <div id="content">
        <div class="container-primary">
            <h3>Backup Tree for: {{ backup_name }} on {{ selected_device }}</h3>
            <a href="javascript:history.back()" class="flex-item-right">Back to Backup List</a>
        </div>
        <br>

        <div class="container-primary transparent-background font-color-black">
            <p><strong>Device:</strong> {{ selected_device }}</p>
            <p><strong>Current Path:</strong> {{ current_path }}</p>
            <p><strong>Backup:</strong> {{ backup_name }}</p>
        </div>

        <br>

        <div class="backup-container">
            <ul class="file-tree">
                {% for item in file_tree %}
                    <li>
                        {% if item.type == 'directory' %}
                            <!-- Directory link to navigate into the directory -->
                            <a href="{{ url_for('view_backup_tree', device=selected_device, backup_name=backup_name, path=item.path) }}">
                                {{ item.name }}/
                            </a>
                        {% else %}
                            <!-- File link to view the file content -->
                            <a href="{{ url_for('view_backup_file', device=selected_device, backup_name=backup_name, path=item.path) }}">
                                {{ item.name }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}
